@include renderDays(".calendar div", 31);

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: #{$default-width}px;
  padding: 25px;

  div {
    width: #{$item-width}px;
    height: 100px;
    margin-right: #{$default-margin}px;
    margin-bottom: #{$default-margin}px;
    border: 1px solid black;
    background: $c-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
    }
    @include hover("background-color", pink);
    @include hover("transform", translateY(-20px));
  }

  &-28 {
    div:nth-last-child(-n+3) {
      display: none;
    }
  }

  &-29 {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }

  &-30 {
    div:nth-last-child(-n+1) {
      display: none;
    }
  }

}

$dayOfWeek: (
  mon: 0,
  tue: $item-width*1 + $default-margin*1,
  wed: $item-width*2 + $default-margin*2,
  thu: $item-width*3 + $default-margin*3,
  fri: $item-width*4 + $default-margin*4,
  sat: $item-width*5 + $default-margin*5,
  sun: $item-width*6 + $default-margin*6
);

@each $key,$val in $dayOfWeek {
  .calendar-#{$key} div:first-child {
    margin-left: #{$val}px;
  }
}
